.intranet-welcome {
  background:         $jumbotron-bg;
  padding:            $jumbotron-padding;
  color:              $jumbotron-heading-color;
  h1,h2,h3,h4,h5,p,a {
    color:              $jumbotron-heading-color;
    margin-top: 0;  
  }
}
