<div class="vimeo-widget">
  <article>
    <a href="$url" class="js-fancybox-media-link thumb media-thumb" title="$!{widgetTitle}">
      <img src="$!{thumbnail2}" alt="$!{widgetTitle}"/>
    </a>
  </article>
</div>
