<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>DotCMS Comment List with AngularJS</h1>
        <div ng-app="commentsApp">
          <comment-list content-id="'7a3d042f-aae4-4e60-8385-7fc5320f572f'"></comment-list>
        </div>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/application/comments/angular/comments.js"></script>
  </body>
</html>